*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #AB50B5;
    --secondary-color: #00BDD9;
    --background-color: #F6F6F6;
    --text-color: #303030;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}
nav{
    background-color: #e6e6e6;
    padding: 10px 0;
    width: auto;
    height: 68px;
}
footer{
    background-color: #e6e6e6;
    padding: 10px 0;
    width: auto;
    height: 68px;
}